@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 0 5rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #243E63;
    padding: 0 1.25rem;
}

.row__column {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.info * {
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 2.75rem;
    color: #152336;
}

h2 {
    font-size: 1rem;
    color: rgb(100 21 255);
    letter-spacing: 2px;
}

h3 {
    font-size: 2.75rem;
    font-weight: 900;
    letter-spacing: 1px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.6;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1.125rem;
}

.text--purple {
    color: rgb(100 21 255);
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: opacity 300ms ease;
}

a:hover {
    color: rgb(100 21 255);
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: rgb(100 21 255);
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.no-cursor {
    cursor: not-allowed;
}

button {
    padding: 1.25rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    color: rgb(247 250 252);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    max-height: 4.5rem;
    transition: all 300ms ease;
    cursor: not-allowed;

}

.purple__btn:hover {
    background-color: rgb(69, 19, 168);
    color: rgb(247 250 252);
}

#features,
#quality,
#steps,
#values,
#pricing,
#testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header,
#quality,
#values,
#testimonials {
    animation: fade-in-right linear 500ms 300ms backwards ease;
}

#features,
#steps,
#pricing,
footer {
    animation: fade-in-right linear 500ms 300ms backwards ease;
}


@keyframes fade-in-left {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

@keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translateX(600px);
    }

    100% {
    opacity: 1;
    transform: translateX(0);
    }
}


/* 

NAVIGATION 

*/

.row__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 108px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.logo__title {
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__links {
    display: flex;
    align-items: center;
    font-weight: 600;
}


.nav__links :not(:last-child) {
    margin-right: 1.5rem;
}


.nav__link--anchor-primary {
    background-color: rgb(100 21 255);
    color: rgb(247 250 252);
    display: flex;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: rgb(69, 19, 168);
    color: rgb(247 250 252);
}

.btn__menu {
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    border: none;
    color: #6415FF;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    top: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
    padding: 2.5rem;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #6415FF;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__list {
    padding: 1rem 0;
}

.menu__link:not(.nav__link--anchor-primary) {
    font-size: 1.25rem;
    color: inherit;
}

/* 

HEADER

*/

header {
    width: 100%;
    height: calc(100vh - 108px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header__info :not(:last-child),
.header__customer :not(:last-child) {
    margin-bottom: 5%;
}

.header__info--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__img--wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__img {
    max-width: 50vw;
}

.header__customer,
.input__area {
    opacity: 0.5;
}

.header__customer {
    width: 80%;
}

.header__customer--title {
    font-size: 12px;
    font-weight: 700;
}

.input__container {
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
}

.input__container * {
    font-weight: 600;
    font-size: inherit;
}

.input__area {
    width: 100%;
    padding: 1.25rem 0 1.25rem 2rem;
    border: 2px solid;
    border-radius: 9999px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.2);
    transition: all 300ms ease;
}

.input__area:hover {
    color: rgba(0, 0, 0, 0.7);
}

.get-started__btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
    padding: 1rem 2.5rem;
}

/* 

FEATURES 

*/


.features__info,
.pricing__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 2rem 0.5rem;
}

.service__img--wrapper {
    display: flex;
    border: 1px solid #243e634d;
    border-radius: 9999px;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center;
    margin-right: 0.75rem;
}

.service__img {
    width: 1.5rem;
    height: 1.5rem;
}

.service__text--wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.service__title {
    color: inherit;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.service__para {
    color: inherit;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.6;
}


/* 

QUALITY 

*/

.section__info--left {
    padding-right: 2.75rem;
    width: 50%;
}

.section__img--wrapper {
    width: 50%;
    display: flex;
}


.quality__img {
    border: 1px solid #243e6320;
    border-radius: 0.5rem;
}

/* 

STEPS 

*/

.section__info--right {
    padding-left: 2.75rem;
    width: 50%;
}

.step__wrapper {
    width: 70%;
    margin-top: 2rem;
}

.step {
    display: flex;
    margin-bottom: 0;
}

.step__num {
    font-size: 2.25rem;
    font-weight: 600;
    opacity: 0.3;
    margin-right: 1rem;
}

.step__info {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.step__info * {
    margin-bottom: 0.5rem;
}

.step__info--para {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    opacity: 0.7;
}

/* 

VALUES 

*/

.value--wrapper {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.value * {
    margin-bottom: 0;
}

.value:first-of-type {
    margin-right: 3rem;
}

.value__logo {
    display: flex;
    width: fit-content;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 9999px;
    margin-right: 0.75rem;
}

.value__title {
    display: flex;
}

.dollar {
    background-color: #9ae6b4;
    padding: 0.5rem 0.8rem;
}

.suitcase {
    background-color: #feb2b2;
}

.fa-dollar-sign {
    color: #146932;
}

.fa-suitcase {
    color: #7b1e1e;
}

.value__para {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.6;
}

/* 

PRICING 

*/

.plans {
    display: flex;
    width: 100%;
}

.plan {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% / 3);
    align-items: center;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
}

.plan {
    margin: 2rem 1rem;
}

.plan__price * {
    margin: 0.25rem 0;
}

.plan__for * {
    margin: 0.5rem 0;
}

.plan__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.plan__heading {
    font-weight: 700;
}

.plan__subheading {
    color: #243e6377;
}

.plan__for {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(226, 232, 240);
    ;
    border-left: 0;
    border-right: 0;
}

.plan__for--middle {
    border: 2px solid rgba(102, 126, 234, 0.7);
    border-left: 0;
    border-right: 0;
}

.buy__btn--wrapper {
    padding: 2rem;
}

.buy__btn {
    margin: 0.25rem 0;
    transition: all 300ms ease;
}

.buy__btn:hover {
    transform: translateY(2px);
    background-color: #E2E8F0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.15);
}

.plan-stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.green--gradient {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.white {
    color: #F7FAFC;
}

.gray {
    color: #EDF2F7;
}

.off-white {
    color: #E2E8F0;
}

.blue--gradient {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.buy__btn--white {
    background-color: #F7FAFC;
    color: #6415FF;
}

.red--gradient {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


/* 

TESTIMONIALS 

*/

.testimonials__ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    color: rgb(243, 161, 20);
}

.fa-star {
    margin-bottom: 0;
}

.testimonials__customer--info,
.testimonials__customer {
    display: flex;
}

.testimonials__customer * {
    margin-bottom: 0;
}

.testimonials__customer--info {
    width: 80%;
    justify-content: space-between;
    margin-left: 1.5rem;
}


.customer__img--wrapper {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    border-radius: 9999px;
}

.testimonials__nav--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDF2F7;
    color: #6415FF;
    border-radius: 9999px;
    margin: 0.75rem;
    height: 3rem;
    width: 3rem;
    transition: all 300ms ease;
}

.testimonials__nav--arrow:hover {
    background-color: #c6ccd1;
}

.testimonials__customer--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials__nav--arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.divider {
    height: 30%;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px solid #EDF2F7;
}

/* 

POPUP 

*/

#popup {
    margin-bottom: 8rem;
}

.popup__container {
    display: flex;
    justify-content: space-between;
    background-color: #6415FF;
    padding: 6rem 5rem;
    border-radius: 0.5rem;
}

.popup__header {
    font-size: 2rem;
    width: 50%;
}

.popup__btns {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 60%;
}

.popup__btn {
    min-width: 12rem;
}

.orange__btn {
    background-color: #F56565;
    color: #EDF2F7;
    margin-right: 1rem;
}

.orange__btn:hover {
    background-color: #e13939;
}

.transparent__btn {
    border: 1px solid #EDF2F7;
}

.transparent__btn:hover {
    background-color: #EDF2F7;
    color: #6415FF;
}

/* 

FOOTER 

*/

footer {
    background-color: #6415FF;
}

.row__footer {
    padding: 6rem 1.25rem;
}

.footer__lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__list {
    color: #EDF2F7;
    padding: 3rem 0rem;
}

.footer__list--header {
    margin-bottom: 1.5rem;
}

.footer__list--item {
    margin: 0.5rem 0;
}


.footer__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo--title {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 0.05em;
    color: #EDF2F7;
}

.footer__copyright {
    font-size: 1rem;
    color: #E2E8F0;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF2F7;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
}

.footer__social:not(:last-of-type) {
    margin-right: 1rem;
}

.footer__divider {
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
    border: 1px solid #edf2f753;
}


/* SMALL PC, BIG TABLETS */
@media (max-width: 1020px) {

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 0.875rem;
    }

    h3 {
        font-size: 2.5rem;
        letter-spacing: 1px;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    p {
        font-size: 1rem;
    }

    button {
        padding: 1rem 2.25rem;
    }

    .get-started__btn {
        padding: 1rem 2.25rem;
    }

    .row__header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section,
    header {
        margin: 6rem 0;
    }

    .header__info--wrapper {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__img--wrapper {
        justify-content: center;
    }

    .img--wrapper {
        max-width: 50%;
    }

    .plans {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plan {
        width: calc(100%/2.2);
    }

    .service {
        width: calc(100% / 2);
    }

    .popup__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .popup__container * {
        justify-content: center;
    }

    .popup__header {
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }


    .footer__list {
        width: calc(100% / 3);
        padding: 1.5rem 0;

    }

    .footer__lists {
        justify-content: start;
    }
}

/* BIG SMARTPHONES, TABLETS */
@media (max-width: 838px) {

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: flex;
    }

    .row {
        flex-direction: column;
    }

    .row__nav {
        flex-direction: row;
    }

    .info {
        width: 80%;
    }

    .section__info--left,
    .section__info--right {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .service__title {
        font-size: 1.25rem;
    }

    .row__steps,
    .row__testimonials {
        flex-direction: column-reverse;
    }

    .img--wrapper {
        max-width: 60%;
        padding: 1rem 0;
    }

    .step__wrapper {
        text-align: left;
        width: 100%;
    }

    section,
    header {
        margin: 4rem 0;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    .services {
        justify-content: center;
    }

    .service {
        width: 80%;
    }

    .footer__list {
        width: calc(100% / 2);
        padding: 1rem 0;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column;
    }

    .footer__bottom * {
        margin: 1rem;
    }

}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width: 678px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 0.75rem;
    }

    h3 {
        font-size: 2rem;
        letter-spacing: 0.01em;
    }

    h4 {
        font-size: 0.875rem;
    }

    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 0.875rem;
    }

    .service__title {
        font-size: 1rem;
    }

    .service__para {
        font-size: 0.875rem;
    }

    .get-started__btn {
        padding: 1rem 1.5rem;
    }

    .input__area,
    .get-started__btn {
        font-size: 0.75rem;
    }

    .input__area {
        padding: 1.25rem 0 1.25rem 1.25rem;
    }

    .img--wrapper {
        max-width: 80%;
    }

    .plan {
        width: 60%;
    }
}